body {
  /* font-family: ; mettre la font roboto */
 
}

.header-container {
  background-image: url(ressources/bg_header.png.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-header {
  height: auto;
}
.header-nav {
  padding: 10px;
  background-color: #fdc98a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-nav-menu {
  text-transform: uppercase;
  font-size: large;
  color: gray;
  display: flex;
  gap: 50px;
  padding: 50px;
  flex-wrap: wrap;
}
.icone {
  height: 50px;
  width: 50px;
}
.largeur-element {
  text-transform: uppercase;

  border: solid 3px gray;
}

.header-search {
  padding: 40px;
  display: flex;
}
.main {
  background-color: #606060;
  padding: 50px;
}
.trait {
  color: #fdc98a;
  border: solid 1px #fdc98a;
  width: 200px;
}
.title {
  text-transform: uppercase;
  color: #fdc98a;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}
.soupe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-image {
  width: 100%;
  position: relative;
  height: 180px;
}

.image {
  object-fit: cover;
  height: 100%;
  min-width: 300px;
}

.textimage {
  position: absolute;
}
.container-category-nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.trait-main-left {
  min-width: 292px;
  margin-bottom: 10px;
}

.textsous-image {
  background-color: #c2c57e;
  width: 0 auto;
  height: 0 auto;
  position: relative;
}
.image-main-content {
  margin-top: 20px;
}
.card {
  text-transform: uppercase;
}
.header-card {
  font-size: large;
  color: gray;
  font-weight: bold;
}
.text-card {
  color: gray;
  font-size: large;
}
.title-card {
  font-size: x-large;
  color: rgb(8, 8, 8);
  font-weight: bold;
}
.textsous-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.text-card-small {
  padding: 10px;
  line-height: 1.8;
  font-size: 20px;
  color: black;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "......";
}
.main-left2 {
  margin-top: 15px;
}

.main-left {
  margin: 0 auto;
  
}

button {
  color: white;
  text-transform: uppercase;
  background-color: #606060;
  border: solid #606060;
  padding: 5px;
}
.section-card {
  min-width: 300px;
}

.main-right1-content {
  background-image: url(ressources/pixels-viky.jpg);
  opacity: 0.5;
  overflow: hidden;
  background-color: #fdc98a;
  min-width: 292px;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-r-image {
  border-radius: 50%;
  overflow: hidden;
}
.icone {
  height: 45px;
  width: 45px;
}
.main-right1-icone {
  display: flex;
  gap: 10px;
}
.right-trait {
  min-width: 292px;
}

.category-content {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: x-large;
}
.category {
  min-width: 292px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-main-right-c {
  padding: 10px;
  min-width: 280px;
  height: 350px;
  border: solid 1px #fdc98a;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
 
}
.top {
  margin-top: 15px;
}

.main-right-c-img {
  padding: 10px;
  background-image: url(ressources/cafe.png.jpg);
   background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    width: 300px;
}
.bierre {
  background-image: url(ressources/bierre.png.jpg);
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
}
.text-card-main-right-c {
  text-transform: uppercase;
  color: #fdc98a;
}
.big {
  font-size: x-large;
}



.trait-category {
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-right-b {
  margin-bottom: 10px;
}
.ma-galery {
  margin-top: 50px;
  min-width: 292px;
}


.galery-grid-img {
  width: 300px;
  height: 300px;
  border: solid 1px #fdc98a;
}
.galery-grid {
 display: flex;
 flex-direction: column;
  gap: 20px;
}
.center {
  width: 292px;
 
}
.galery {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toque {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 8%;
 right: 0;
 margin: 0 auto;
 height: 50px;
 width: 50px;
}
.main-left-a {
  position: relative;
}


.footer {
  position: relative;
  color: white;
}

.overlay::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.footer::before {
  background-image: url(ressources/bg_footer.ppng.jpg);
  filter: brightness(0.25);
}
.footer-calque::before {
  background-image: url(ressources/calque.png.png);
}

.nav-footer {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.footer-flex {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  z-index: 1;
  flex-wrap: wrap;
}

.text-footer {
  text-align: center;
}
@media (min-width: 1024px) and (max-width: 2720px) {
  .big-image {
  width: 620px;
}
.center {
  width: 620px;
}
.ma-galery {
  margin-top: 50px;
  width: 620px;
}
.galery-grid {
 display: grid;
 grid-template-columns: repeat(3, 35%);
  gap: 20px;
}
.main-left1 {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.textsous-image {
  background-color: #c2c57e;
  width: 620px;
  height: 0 auto;
}
.trait-main-left {
  width: 620px;
  margin-bottom: 10px;
}
.section-card {
  width: 300px;
}
.image {
  object-fit: cover;
  height: 100%;
  width: 292px;
}
.big-image {
  width: 620px;
}
.section-card {
  width: 292px;
}
.left-right { 
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}
button {
  background-color: rgb(250, 75, 6);
  border: solid 1px  rgb(250, 75, 6);;
}
 
}




