.button{
    background-color: rgb(9, 134, 250);
    border-radius: 15px;
    border: solid rgb(9, 134, 250) ;
    color: white;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  
}